{% load i18n %}
{% load i18n_switcher %}
{% load static %}

<nav class="nav">
    <a class="nav-logo" href="{% url 'top' %}">{% trans "タスク管理" %}</a>
    <ul class="nav-list">
        <div class="flag-list">
            <a href="{{ request|switch_i18n:'ja' }}">
                <img class="i18n_flag" src="{% static 'images/flag-ja-16.png' %}"/>
            </a> 
            <a href="{{ request|switch_i18n:'pt' }}">
                <img class="i18n_flag" src="{% static 'images/flag-pt-16.png' %}"/>
            </a>
        <div>

        {% if request.user.is_authenticated %}
        <span class="">
            {% trans "ようこそ" %} {{ user.get_username }} {% trans "さん" %}
        </span>
        <li class="">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input class="nav-link" type="submit" value="{% trans "ログアウト" %}">
            </form>
        </li>
        {% else %}
        <li class="">
            <a class="nav-link" href="{% url 'login' %}">{% trans "ログイン" %}</a>
        </li>
        {% endif %}
    </ul>
</nav>
